* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .earth {
    animation: rotate infinite 20s linear;
  }
}

@keyframes rotate {
  from {
    transform: perspective(900px) rotateX(70deg) rotate(0deg);
  }
  to {
    transform: perspective(900px) rotateX(70deg) rotate(360deg);
  }
}

body {
  background-color: #000522;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.world-container {
  height: 100vh;
  width: 100vh;
}

.earth {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain;
}
